#### SQL and SQLite
- SQL(Structured Query Language) is a standard language for managing and manipulating relational databases.
- SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In [1]:
import sqlite3

In [2]:
## connect to SQLite database
connection = sqlite3.connect('example.db')
connection

In [3]:
## cursor: It is a object that will help us to iterate through our database, to create table.. etc
cursor= connection.cursor()

In [4]:
## create a Table
cursor.execute('''
Create Table If Not Exists employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department Text
               )
''')

## Commit the changes : without commit we can't have changes to our db.
connection.commit()

In [5]:
# select a table
cursor.execute('''
Select * from employees
''')

In [8]:
## insert the data in sqlite3 table
cursor.execute('''
Insert into employees(name,age,department)
               values('Riddhi',29,'Data Scientist')
''')

cursor.execute('''
Insert into employees(name,age,department)
               values('Ashok',28,'Sr. Software Engineer')
''')

cursor.execute('''
Insert into employees(name,age,department)
               values('Dipen',30,'Web Developer')
''')

# commit the changes
connection.commit()

In [9]:
## Query the data from the table
cursor.execute('select * from employees')
rows=cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Riddhi', 29, 'Data Scientist')
(2, 'Ashok', 28, 'Sr. Software Engineer')
(3, 'Dipen', 30, 'Web Developer')

In [10]:
## update data in the table
cursor.execute('''
UPDATE employees 
               set age=27 
               where name='Riddhi'
''')

connection.commit()

In [12]:
## Query the data from the table after modification
cursor.execute('select * from employees')
rows=cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Riddhi', 27, 'Data Scientist')
(2, 'Ashok', 28, 'Sr. Software Engineer')
(3, 'Dipen', 30, 'Web Developer')

In [13]:
## Delete the data from the table
cursor.execute('''
DELETE from employees
               where name='Dipen'
''')

connection.commit()

In [14]:
## Query the data from the table after modification
cursor.execute('select * from employees')
rows=cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Riddhi', 27, 'Data Scientist')
(2, 'Ashok', 28, 'Sr. Software Engineer')

In [16]:
## Project: Working with Sales Data
# connect to an Sqlite databse
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# create a table for sals data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT
               )
''')

## Insert data into the sales table
sales_data = [
    ('2024-01-01','Product1',100,'North'),
    ('2024-01-02','Product2',200,'South'),
    ('2024-01-03','Product1',150,'East'),
    ('2024-01-04','Product3',250,'West'),
    ('2024-01-05','Product2',300,'North')
]

#bulk insert
cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [17]:
## Query the data from the table 
cursor.execute('select * from sales')
rows=cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, '2024-01-01', 'Product1', 100, 'North')
(2, '2024-01-02', 'Product2', 200, 'South')
(3, '2024-01-03', 'Product1', 150, 'East')
(4, '2024-01-04', 'Product3', 250, 'West')
(5, '2024-01-05', 'Product2', 300, 'North')

In [18]:
## close the connection
connection.close()