#### MySql with Python

##### Install require package i.e. mysql-connector-python

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB 435.7 kB/s eta 0:00:33
   ---------------------------------------- 0.1/14.3 MB 939.4 kB/s eta 0:00:16
    --------------------------------------- 0.3/14.3 MB 1.6 MB/s eta 0:00:09
   - -------------------------------------- 0.5/14.3 MB 2.3 MB/s eta 0:00:06
   -- ------------------------------------- 1.0/14.3 MB 4.0 MB/s eta 0:00:04
   ----- ---------------------------------- 2.0/14.3 MB 6.9 MB/s eta 0:00:02
   ------- -------------------------------- 2.8/14.3 MB 8.0 MB/s eta 0:00:02
   ------- -------------------------------- 2.8/14.3 MB 7.3 MB/s eta 0:00:02
   ------- -------------------------------- 2.8/14.3 MB 7.3 MB/s eta 0:00:02
   ------- -------------------------------- 2.8/14.3 MB 7.3 MB/s eta 0:00:02
   ------------- -------------------------- 4.9/14.3 MB 9.9 MB/s eta 0:00:01
   ------------- -------------------------- 5.0/14.3 MB 9.1 MB/s eta 0:00:02
   ---------------- ----------------------- 6.1/14.3 MB 9.7 MB/s eta 0:00:01
   ----------------- ---------------------- 6.2/14.3 MB 9.6 MB/s eta 0:00:01
   -------------------- ------------------- 7.2/14.3 MB 10.0 MB/s eta 0:00:01
   ----------------------- ---------------- 8.6/14.3 MB 11.2 MB/s eta 0:00:01
   -------------------------- ------------- 9.4/14.3 MB 11.6 MB/s eta 0:00:01
   ---------------------------- ----------- 10.3/14.3 MB 12.6 MB/s eta 0:00:01
   ------------------------------ --------- 11.1/14.3 MB 15.2 MB/s eta 0:00:01
   --------------------------------- ------ 11.9/14.3 MB 15.2 MB/s eta 0:00:01
   ----------------------------------- ---- 12.7/14.3 MB 15.2 MB/s eta 0:00:01
   ------------------------------------- -- 13.6/14.3 MB 18.7 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 17.7 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 16.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

#### Creating Database in MySql

In [3]:
## Create SQL Connection
import mysql.connector as sql

connection = sql.connect(
    host="localhost",
    user="root",
    password=""
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002DC84F79C70>

#### Creating Database

In [4]:
cursor = connection.cursor()

cursor.execute("CREATE DATABASE student")

In [5]:
cursor.execute("SHOW DATABASES")

In [6]:
for database in cursor:
    print(database)

('advancedatabase',)
('ajax',)
('codigo',)
('codigo_new',)
('codigotech',)
('cpwebapp',)
('information_schema',)
('kmc_db',)
('libraryproject',)
('mydba',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('st_law_db',)
('stlawarencedb',)
('student',)
('test',)

#### Execute and Drop Some Databases

In [8]:

cursor.execute("DROP database test")

In [10]:
cursor.execute("SHOW DATABASES")

for database in cursor:
    print(database)

('advancedatabase',)
('ajax',)
('codigo',)
('codigo_new',)
('codigotech',)
('cpwebapp',)
('information_schema',)
('kmc_db',)
('libraryproject',)
('mydba',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('st_law_db',)
('stlawarencedb',)
('student',)

#### Create Table and Insert Records

In [11]:
## Create MySQL Connection and Connect
import mysql.connector as sql

connection = sql.connect(
    host="localhost",
    user="root",
    password="",
    database="student"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002DC85652C30>

#### Create Table in MySQL using Python

In [12]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

#### Insert Records in Table

In [15]:
query = "INSERT INTO studentinfo(name,subject) VALUES (%s, %s)"
value = ("John","Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 3

In [16]:
## Insert mulitpl records in Table
query = "INSERT into studentinfo(name,subject)VALUES(%s,%s)"
values = [("Ram","Stats"),
          ("Joe","Math"),
          ("Ricky","Data Science"),
          ("Emmy","AI")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 7

#### Select ALL

In [34]:
cursor = connection.cursor()
cursor.execute("select * from studentinfo")

In [33]:
## Fetch all the data
cursor.fetchall()

[(2, 'John', 'Stats'),
 (3, 'John', 'Stats'),
 (4, 'Ram', 'Stats'),
 (5, 'Joe', 'Math'),
 (6, 'Ricky', 'Data Science'),
 (7, 'Emmy', 'AI')]

In [30]:
## Fetch one record at a time
cursor.fetchone()

(1, 'John', 'Stats')

In [36]:
lst =cursor.fetchall()

In [37]:
for record in lst:
    print(record)

(1, 'John', 'Stats')
(2, 'John', 'Stats')
(3, 'John', 'Stats')
(4, 'Ram', 'Stats')
(5, 'Joe', 'Math')
(6, 'Ricky', 'Data Science')
(7, 'Emmy', 'AI')

#### Selecting Partcular Rows

In [38]:
cursor.execute("Select * from studentinfo where name='John'")

In [39]:
## Fetch all the data
cursor.fetchall()

[(1, 'John', 'Stats'), (2, 'John', 'Stats'), (3, 'John', 'Stats')]

#### Selecting Particular columns

In [40]:
cursor.execute("select subject from studentinfo")
## Fetch all
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Stats',),
 ('Stats',),
 ('Math',),
 ('Data Science',),
 ('AI',)]

In [41]:
## Select distinct columns
cursor.execute("SELECT DISTINCT name from studentinfo")
## Fetch all
cursor.fetchall()

[('John',), ('Ram',), ('Joe',), ('Ricky',), ('Emmy',)]

In [42]:
cursor.execute("select name,subject from studentinfo where name='John' OR subject='Stats'")
## Fetch all
cursor.fetchall()

[('John', 'Stats'), ('John', 'Stats'), ('John', 'Stats'), ('Ram', 'Stats')]

#### Edit
#### Delete

#### Drop Table

In [44]:
cursor.execute("DROP TABLE studentinfo")