# Tuples
#### Outline
##### 1. Introduction to Tuple
##### 2. Creating Tuples
##### 3. Accessing Tuples Elements
##### 4. Tuple Operations
##### 5. Immutable Nature of Tuples
##### 6. Tuple Methods
##### 7. Packing and Unpacking Tuples
##### 8. Nested Tuples
##### 9. Examples and Common Errors

### Introduction to Tuple
#### Explanation:
#### Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
## Creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
tpl = tuple()
print(type(tpl))

<class 'tuple'>

In [3]:
numbers = tuple([1,2,3,4,5,6,7])
numbers

(1, 2, 3, 4, 5, 6, 7)

In [4]:
list((1,2,3,4,5,6,7))

[1, 2, 3, 4, 5, 6, 7]

In [5]:
mixed_tuple = (1,"Hello World","3.14",True)
print(mixed_tuple)

(1, 'Hello World', '3.14', True)

In [6]:
## Accessing tuple elements
numbers

(1, 2, 3, 4, 5, 6, 7)

In [8]:
print(numbers[2])
print(numbers[-1])

3
7

In [9]:
print(numbers[0:4])
print(numbers[::-1])

(1, 2, 3, 4)
(7, 6, 5, 4, 3, 2, 1)

In [10]:
## Tuple operations

cancatination_tuple = numbers+mixed_tuple
print(cancatination_tuple)

(1, 2, 3, 4, 5, 6, 7, 1, 'Hello World', '3.14', True)

In [11]:
mixed_tuple * 3

(1,
 'Hello World',
 '3.14',
 True,
 1,
 'Hello World',
 '3.14',
 True,
 1,
 'Hello World',
 '3.14',
 True)

In [12]:
numbers * 3

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [13]:
## Imutable Nature of tuples

## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1] = "Riddhi"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Riddhi', 3, 4, 5]

In [14]:
numbers

(1, 2, 3, 4, 5, 6, 7)

In [15]:
numbers[1] = "Riddhi"

TypeError: 'tuple' object does not support item assignment

In [17]:
## Tuple Methods
print(numbers)
print(numbers.count(1))
print(numbers.index(3))

(1, 2, 3, 4, 5, 6, 7)
1
2

In [19]:
## Packing and Unpacking tuple

## Packing a tuple
packed_tupe=1,"hello",3.14
print(packed_tupe)

(1, 'hello', 3.14)

In [20]:
## Unpacking a tuple
a,b,c=packed_tupe

print(a)
print(b)
print(c)

1
hello
3.14

In [21]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [22]:
## Nested tuples

# Nested List
lst = [[1,2,3,4],[5,6,7,8],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [23]:
lst = [[1,2,3,4],[5,6,7,8],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [24]:
# Nested tuple
nested_tuple = ((1,2,3),("a","b","c"),(True,False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [25]:
## Iterating over nested tuple
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False