# DataTypes
## 1. Definition:
- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.
## 2. Importance of Data Types in Programming 
## Explanations:
- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.
## Outline:
## 1. Data Types
## 2. Importance of DT
## 3. Basic DT
- Integers
- Floating-point numebrs
- Strings
- Boolean
## 4. Advanced DT
- Lists
- Tuples
- Set
- Dictionary
## 5. Type Conversion
## 6. Examples

In [1]:
## Integers Example
age = 30
type(age)

int

In [2]:
## floating point data type
height = 5.4
print(type(height))

<class 'float'>

In [3]:
## string datatype
name = "Riddhi"
print(name)
print(type(name))

Riddhi
<class 'str'>

In [4]:
## Boolean data type
type(True)
is_true = True
type(is_true)

bool

In [5]:
bool()

False

In [6]:
a = 10
b = 10
a == b

True

In [7]:
type(a==b)

bool

In [8]:
## common errors
result = "Hello"+5

TypeError: can only concatenate str (not "int") to str

In [9]:
result = "Hello"+str(5)