# Operators
## Outline:
## 1. Operators
## 2. Arithmetic Operators
- Addition
- Subtraction
- Mulitplication
- Division
- Floor Division
- Modulus
- Exponentiation
## 3. Comparision Operators
- Equal to
- Not Equal to
- Greater then
- Less than
- Greater than or equal to
- Less than or equal to
## 4. Logical Operators
- AND
- OR
- NOT
## 5. Example and Common Errors

In [4]:
## Arithmetic Operation
a = 10
b = 5
add_result = a+b
sub_result = a-b
mul_result = a*b
div_result = a/b
floor_div_result = a//b
modulus_result = a%b
exponent_result = a**b
print(add_result)
print(sub_result)
print(mul_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

#### Comparision Operators

In [6]:

## == , Equal to operator
a = 10
b = 10
a == b

str1="Riddhi"
str2="Riddhi"
str1==str2

True

In [7]:
## Not Equal to , !=
str1 != str2

False

In [8]:
# Greater then , >
a=45
b=55
a>b

False

In [9]:
## Less than , <
a<b

True

In [10]:
## Greater than or equal to, >=
num1=45
num2=45
num1 >= num2

True

In [11]:
## Less than or equal to , <=
num1 <= num2

True

#### Logical Operators

In [12]:
## AND, OR and NOT
## AND
X=True
Y=True

result = X and Y
print(result)

True

In [13]:
X=True
Y=False

result = X and Y
print(result)

False

In [15]:
## OR
X=True
Y=False

result = X or Y
print(result)

True

In [16]:
## NOT: reverse of boolean variable
X=True

result = not X
print(result)

False

In [17]:
## Simple Calculator Example: